@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navigation
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<button type="button" @onclick="navigateToWeather">Go to Weather</button>

Welcome to your new app.

@code {
    private void navigateToWeather()
    {
        Navigation.NavigateTo("weather");
    }
}