@page "/post/{PostId:int}"
@using BloggingAppFrontend.Application.Dtos.BlogPsotDto
@using BloggingAppFrontend.Application.Services
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IBlogPostService BlogPostService

<h2 class="text-center my-4">Post Details</h2>

@if (post == null)
{
    <div class="text-center">
        <p>Post not found.</p>
    </div>
}
else
{
    <div class="container d-flex justify-content-center">
        <div class="card mb-4 shadow-sm" style="width: 80%;">
            <div class="card-header">
                <h3 class="card-title">@post.Title</h3>
                <p class="text-muted mb-0">@post.CreatedAt.ToString("MMMM dd, yyyy")</p>
            </div>
            <div class="card-body">
                <p class="card-text">@post.Content</p>
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-secondary me-2" @onclick="GoBack">Back</button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] 
    public int PostId { get; set; }
    private BlogPostDto? post;
    private bool isJSInteropAvailable = false;

    //Handle client-side-only logic
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (!isJSInteropAvailable)
            {

                int id = 1004; // Example PostId
                post = await BlogPostService.GetPostById(PostId);

                isJSInteropAvailable = true;
                StateHasChanged();
            }
        }
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/");
    }
}